@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface text-slate-900 antialiased;
  }

  ::selection {
    @apply bg-brand text-white;
  }
}
