name: Deploy to Vercel

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: read

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ENV: ${{ github.ref == 'refs/heads/main' && 'production' || 'preview' }}
  VERCEL_FLAGS: ${{ github.ref == 'refs/heads/main' && '--prod' || '' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Pull Vercel environment information
        run: npx vercel pull --yes --environment=$VERCEL_ENV --token=$VERCEL_TOKEN

      - name: Build project with Vercel
        run: npx vercel build $VERCEL_FLAGS --token=$VERCEL_TOKEN

      - name: Deploy to Vercel
        run: npx vercel deploy --prebuilt $VERCEL_FLAGS --token=$VERCEL_TOKEN

